*{
    font-family: sans-serif;
    box-sizing: border-box;
}
.logo{
    text-align: center;
    margin: 40px 0;
}
.logo img{
    width: 250px;
}
.logo h2{
    font-size: 30px;
    font-weight: 600;
    color: rgb(55,166,223);
}
.book{
    text-align: center;
}
.book p{
    font-size: 24px;
}
.book input{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
}
.book input[type="submit"]{
    font-size: 16px;
    color: white;
    background:rgb(55,166,223) ;
    border: none;
    cursor: pointer;
}
table{
    width: 100%;
    text-align: center;
    border-collapse:collapse ;
    font-size: 20px;
}
th{
    background:rgb(55,166,223) ;
    color: white;
    padding: 5px 0;
}